*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(background.png) no-repeat center center/cover;
    /* height: 100vh; */
    /* width: 100vw; */
}
#head{
    width: 100vw;
    height: 20vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* gap: 5px; */
    
}
h1,h2{
    color: #eeecec;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
}
#bodyCard{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(#111111); */
    margin: auto;
    margin-top: 10px;
}

.card{
    
    margin-top: 10px;
    width: 40vw;
    height: 55vh;
    border: 1px solid #eee;
    border-radius: 30px;
    background-color: #1a1a1a89;
    border-width: 5px;
    box-shadow: 0 0 25px rgb(255, 2, 154);
}
.wlc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
    font-size: 3rem;
}
.p1,.p2{
    color: #eee;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}
input{
    margin-top: 20px;
    width: 15vw;
    height: 25px;
    border: 1px solid #ffffff;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(255, 2, 2);
    background-color: #1A1A1A;
    color: #eee;

}
input:hover{
    cursor:pointer;
   transform: scale(1.05);
}
.genre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transform: scale(1.2);
}
.submit{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transform: scale(1.2);

}
.st{
    width: 70px;
    height: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    transition: 0.2s ease;
}
.st:hover{
    cursor: pointer;
    transform: scale(1.2);
    border: 1px solid #ffffff;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(57, 2, 255);
    background-color: #1A1A1A;
    color: #eee;
}
.matchbtn{
    width: 70px;
    height: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    transition: 0.2s ease;
}
.matchbtn:hover{
    cursor: pointer;
    transform: scale(1.2);
    border: 1px solid #ffffff;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(2, 255, 19);
    background-color: #1A1A1A;
    color: #eee;
}
.unmatchbtn{
    width: 70px;
    height: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    transition: 0.2s ease;
}
.unmatchbtn:hover{
    cursor: pointer;
    transform: scale(1.2);
    border: 1px solid #ffffff;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 2, 2);
    background-color: #1A1A1A;
    color: #eee;
}
.btns{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.movName{
    text-align: center;

}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster{
    width: 30vw;
    height: 40vh;
    border:1px solid white;
    border-radius: 15px;
    border-width: 3px;
    box-shadow: 0 0 10px rgb(251, 255, 2);
}
.info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tagline,.rating,.duration,.year,.genr,.match{
    text-align: center;
    font-family:'Bebas Neue', sans-serif ;
    color: #eee;
    font-size: 1.5rem;
}
.match{
    font-size: 1.5rem;
}